@import"../assets/stylesheet/var";

.home-page {
  @include print-styles($primary-text);
  display: flex;
  flex-wrap: wrap;


  &__layout {
    flex: 50%;

    .timeline {
      position: relative;
      display: flex;
      margin-bottom: 10px;

      .border {
        content: ' ';
        position: absolute;
        left: 29px;
        z-index: -1;
        top: 50px;
        display: block;
        width: 4px;
        height: 100%;
        background: #d7e4ed;
      }

      .img {
        // flex: 1;
        margin-top: 20px;
        border-radius: 50%;
        width: 60px;
        height: 50px;
      }

      .text {
        line-height: 2;
        flex: 4;
        padding: 15px 10px;

        .note {
          padding: 10px;
          display: block;
          background: #d7e4ed
        }

        .more-info {
          position: relative;

          .line {
            content: ' ';
            position: absolute;
            left: -39px;
            z-index: 1;
            top: 19px;
            display: block;
            width: 40px;
            height: 4px;
            background: #e46b18;
          }

          .box-status {

            padding: 10px;
            display: block;
            // position: relative;

            &::after {
              content: ' ';
              position: absolute;
              left: -41px;
              z-index: -1;
              top: -117px;
              display: block;
              width: 4px;
              height: 100%;
              background: #e46b18;
            }
          }
        }
      }
    }
  }
}
